report.0-1.log
report.1-2.log
report.1-3.log
report.1-4.log
report.1-5.log
report.aux
report.aux.make
report.auxbbl.make
report.auxtarget.make
report.bbl
report.blg
report.d
report.fls
report.log
report.out
report.out.make
report.pdf
report.toc
report.toc.make
.DS_Store